body{
	margin: 0;
	background-color: black;
	color: white; 
}

h1{
	
	text-align: center;
}

.container{
	text-align: center;
}

h2{
	margin: 50px;
	font-size: 75px;

}

#reset{
	
}
.on{
	display: block;
}
.off{
	display: none;
}

h3{
	display: inline-block;
	margin: 25px 50px;
}

#stats{
	display: block;
	text-align: center;
	border-bottom: 2px solid white;
}

#movie{
	
	margin: 0 auto;
	
		
}

img{
	margin-top: 25px;
}

#hint{
	border:2px dashed white;
	display: none;
	position: absolute;
	border-radius: 25px;
	width:250px;
	/*height: 80vh;*/
	padding: 25px;
	font-size: 25px;
	text-align: center;
				
	background-color: white;
	color: black;
}
#hintBtn{
	margin-left: 70px;
}

#hint-container{
	margin-left: 50px;
}

#blanks{
	margin-top: 250px;
}
#transition{
	margin: 0 auto;
	opacity: 0;
}